<h2>{{title}}</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <div ng-controller="createCarCtrl">
                <!-- <form novalidate class="form" action="index.html" method="post"> -->
                    <div class="form-group">
                        <label for="inputYear">Year: </label>
                        <input type="number" class="form-control" id="inputYear" placeholder="Year"
                        ng-model="year">
                    </div>
                    <div class="form-group">
                        <label for="inputMake">Make: </label>
                        <select class="form-control" id="inputMake"
                        ng-options="make.name for make in showMakes"
                        ng-model="make">
                            <option value='' selected>-- Make --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputModel">Model: </label>
                        <input type="text" class="form-control" id="inputModel" placeholder="Model"
                        ng-model="model">
                    </div>
                    <div class="form-group">
                        <label for="inputDisplacement">Displacement: </label>
                        <input type="number" class="form-control" id="inputDisplacement" placeholder="Displacement"
                        ng-model="engine_displacement">
                    </div>
                    <div class="form-group">
                        <label for="inputCylinders">Cylinders: </label>
                        <input type="number" class="form-control" id="inputCylinders" placeholder="Cylinders"
                        ng-model="engine_number_of_cylinders">
                    </div>
                    <div class="form-group">
                        <label for="inputHorsepower">Horsepower: </label>
                        <input type="number" class="form-control" id="inputHorsepower" placeholder="Horsepower"
                        ng-model="horsepower">
                    </div>
                    <div class="form-group">
                        <label for="inputTorque">Torque: </label>
                        <input type="number" class="form-control" id="inputTorque" placeholder="Torque"
                        ng-model="torque">
                    </div>
                    <div class="form-group">
                        <label for="inputAcceleration">Acceleration: </label>
                        <input type="number" class="form-control" id="inputAcceleration" placeholder="Acceleration"
                        ng-model="zero_to_sixty_acceleration_time">
                    </div>

                    <button ng-click="saveCar()"
                            type="button"
                            class="btn btn-default">Submit</button>
                <!-- </form> -->
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
