<!-- <h2>{{title}}</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <div ng-controller="writeReviewCtrl">
                <div class="form-group">
                    <label for="inputMake">Make: </label>
                    <select class="form-control" id="inputMake" ng-options="make.name for make in showMakes" ng-model="make">
                        <option value='' selected>-- Make --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputModel">Model: </label>
                    <select class="form-control" id="inputModel" ng-options="make.name for make in showModels" ng-model="make">
                        <option value='' selected>-- Model --</option>
                    </select>
                </div>

                <select class="form-control" id="inputMake" ng-options="make.name for make in showMakes" ng-model="make">
                        <option value='' selected>-- Make --</option>
                    </select>
                <label for="inputModel">Model: </label>
                <select class="form-control" id="inputModel" ng-options="make.name for make in showModels" ng-model="make">
                        <option value='' selected>-- Model --</option>
                    </select>

                <button ng-click="saveReview()" type="button" class="btn btn-default">Save Your Review</button>
            </div>
        </div>
    </div>
</div>
</div> -->
